<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- my scripts -->
<script type="text/javascript" src="{{ url_for('static', filename = 'add.js') }}"></script>

<style>
  #card {
    background-color: white;
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
  }
  #select, #enter_name, #submit {
    margin-left: 15px;
  }
</style>

{% extends "layout.html" %}

{% block content %}

<div id="card">
  <h4>Add a dessert to your potluck: </h4>
  <br />
  <br />
  Type:
  <select id="select">
    <option value="Cake">Cake</option>
    <option value="Ice Cream">Ice Cream</option>
    <option value="Popsicles">Popsicles</option>
    <option value="Pie">Pie</option>
    <option value="Cookies">Cookies</option>
    <option value="Cupcakes">Cupcakes</option>
  </select>
  <br />
  <br />
  Who's bringing it?
  <input type="text" id="enter_name" placeholder="Name"></input>
  <button class="btn btn-primary" id="submit">Submit</button>
</div>

{% endblock %}
