<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- my scripts -->
<script type="text/javascript" src="{{ url_for('static', filename = 'details.js') }}"></script>

{% extends "layout.html" %}

{% block content %}

<h4> Give us the deets! </h4>
<p> Choose where and when the potluck will be. </p>
<br />

<p> Date: <input type = "text" id = "datepicker-1"></p>
Time:
<select id="mySelect">
  <option value="9 am">9 am</option>
  <option value="10 am">10 am</option>
  <option value="11 am">11 am</option>
  <option value="12 pm">12 pm</option>
  <option value="1 pm">1 pm</option>
  <option value="2 pm">2 pm</option>
  <option value="3 pm">3 pm</option>
  <option value="4 pm">4 pm</option>
  <option value="5 pm">5 pm</option>
  <option value="6 pm">6 pm</option>
  <option value="7 pm">7 pm</option>
  <option value="8 pm">8 pm</option>
  <option value="9 pm">9 pm</option>
  <option value="10 pm">10 pm</option>
  <option value="11 pm">11 pm</option>
</select>
<br />
<br />
At: <input type="text" id="enter_location" placeholder="Location"></input>
<br />
<br />
<button class="btn btn-primary" id="enter">Enter</button>

{% endblock %}
