<style>
    img {
      width: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
    }
    h1, h3 {
      text-align: left;
      padding: 5px;
    }
    h1 {
      padding-top: 20px;
    }
    .buttons {
      margin-top: 10px;
    }
    .btn {
      font-size: 13px;
    }
    #card {
      background-color: white;
      width: 40%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      padding: 50px;
      border-radius: 15px;
    }
    #description {
      font-style: italic;
      font-size: 20px;
    }
    #intro {
      font-size: 20px;
    }
</style>

{% extends "layout.html" %}

{% block content %}
<div id="card">
  <h1>
      Welcome to Potlucky!
  </h1>
  <p id="description">
      your friendly potluck-organizing tool
  </p>
  <br />
  <br />
  <p id="intro">
    Potlucky helps you organize your potluck, keeping track of tricky details like <b>date, time, place, guests,</b> and most importantly, <b>who plays what role</b> in the potluck!
  </p>
  <button class="btn btn-info" id="host">Get started</button>
</div>
{% endblock %}
