<style>
    img {
      width: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
    }
    h1, h3 {
      text-align: left;
      padding: 5px;
    }
    h1 {
      padding-top: 20px;
    }
    .buttons {
      margin-top: 10px;
    }
    .btn {
      font-size: 13px;
    }
    #card {
      background-color: white;
      width: 40%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 50px;
      border-radius: 15px;
    }
    #description {
      font-style: italic;
      font-size: 20px;
    }
    #intro {
      font-size: 20px;
    }
</style>

{% extends "layout.html" %}

{% block content %}
<div id="card">
  <h1>
      Potlucky
  </h1>
  <p id="description">
      your friendly potluck-organizing tool
  </p>
  <br />
  <br />
  <p id="intro">
    Are you hosting or attending a potluck?
  </p>
  <div class="row buttons">
    <div class="col-md-4 text-right">
      <button class="btn btn-info" id="host">Hosting</button>
    </div>
    <div class="col-md-8 text-left">
      <button class="btn btn-info" id="attend">Attending</button>
    </div>
  </div>
</div>
{% endblock %}
