<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- my scripts -->
<script type="text/javascript" src="{{ url_for('static', filename = 'host.js') }}"></script>

<style>
    #entry {
      margin-top: 20px;
      margin-bottom: 15px;
      padding: 25px;
      background-color: lightblue;
    }
    .btn {
      margin-left: 10px;
    }
    .entry {
      margin: 5px;
    }
    #categories {
      padding: 10px;
      font-weight: bold;
    }
    #submit {
      margin-top: -5px;
      margin-left: -20px;
    }
    #items {
      margin-left: 10px;
    }
</style>

{% extends "layout.html" %}

{% block content %}

<h4> You decide who's bringing what! &#11088;</h4>

<div class="row" id="entry">
    <div class="col-md-2">
        Add new attendee:
    </div>
    <div class="col-md-2">
        <input type="text" id="enter_name" placeholder="Name"></input>
    </div>
    <div class="col-md=2">
        <input type="text" id="enter_food" placeholder="Food/drink"></input>
    </div>
    <div class="col-md-2">
        <input type="text" id="enter_quant" placeholder="Quantity"></input>
    </div>
    <button class="btn btn-primary" id="submit">Submit</button>
</div>

<div class="row" id="categories">
    <div class="col-md-2">
        Name:
    </div>
    <div class="col-md-2">
        Potluck item:
    </div>
    <div class="col-md-2">
        Quantity:
    </div>
</div>

<div id="items">
</div>

{% endblock %}
