<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- my scripts -->
<script type="text/javascript" src="{{ url_for('static', filename = 'host.js') }}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<style>
    #categories {
      font-weight: bold;
    }
    .btn {
      margin-left: 10px;
    }
    .entry {
      margin: 5px;
    }
    #icons {
      padding: 25px;
      height: 150px;
      padding-bottom: 50px;
    }
    #submit {
      margin-top: -5px;
      margin-left: -20px;
    }
    #items {
      margin-left: 10px;
    }
</style>

{% extends "layout.html" %}

{% block content %}

<h4> You decide who's bringing what! &#11088;</h4>

<p>Current number of guests: {{guests}}</p>

<div class="row" id="icons">
  <div class="col-md-1">
    Add entry:
  </div>
    <button id="meat" style='font-size:70px' class="btn btn-primary"> <i class='fas fa-drumstick-bite'></i></button>
    <button id="veggie" style='font-size:70px' class="btn btn-primary icon"> <i class='fas fa-carrot'></i></button>
    <button id="grain" style='font-size:70px' class="btn btn-primary icon"> <i class='fas fa-bread-slice'></i></button>
    <button id="appetizer" style='font-size:70px' class="btn btn-primary icon"> <i class='fas fa-cheese'></i></button>
    <button id="dessert" style='font-size:70px' class="btn btn-primary icon"> <i class='fas fa-cookie-bite'></i></button>
    <button id="drink" style='font-size:70px' class="btn btn-primary icon"> <i class='fas fa-cocktail'></i></button>
    <button id="supplies" style='font-size:70px' class="btn btn-primary icon"> <i class='fas fa-utensils'></i></button>
    <button id="other" style='font-size:70px' class="btn btn-primary icon"> <i class='fas fa-plus'></i></button>
</div>

<div class="row" id="categories">
    <div class="col-md-2">
        Name:
    </div>
    <div class="col-md-2">
        Potluck item:
    </div>
</div>

<div id="items">
</div>

{% endblock %}
