<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- My Scripts -->
<script type="text/javascript" src="{{ url_for('static', filename = 'tasklist.js') }}"></script>

<style>
  .chorerow {
    padding: 10px;
  }
</style>

{% extends "layout.html" %}

{% block content %}

<h3>Task list: </h3>
<p style="font-style: italic;"> What needs getting done in order for your potluck to happen?</p>
<div id="chores"></div>
<input type="text" id="add_task" placeholder="Add task"></input>
<input type="text" id="task_pts" placeholder="Task points"></input>
<button type="button" id="enter" class="btn btn-primary">Enter</button>
<br />
<button type="button" id="next" class="btn btn-info">Next</button>

{% endblock %}
