<!DOCTYPE html>
<html lang = "en">
  <head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <!-- My Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'tasks.js') }}"></script>
    <script>
        guests = {{guests|tojson}}
        chores = {{chores|tojson}}
    </script>

    <style>
        .container-fluid {
          padding: 50px;
        }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <h2>Tasks</h2>
            <div id="chores"></div>
            <input type="text" id="add_task" placeholder="Add task"></input>
            <button type="button" id="enter" class="btn btn-info">Enter</button>
        </div>
        <div class="col-md-8">
          <svg height="600" width="1000"></svg>
        </div>
      </div>
    </div>
  </body>
</html>
